@media (min-width: 769px) {
  #menu-button {
    display: none;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
}
