* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #0d4d71;
  color: white;
  padding: 1rem;
}

header img {
  width: 34px;
  height: 34px;
  display: inline-block;
  object-fit: contain;
  image-rendering: pixelated;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile h1 {
  flex: 1;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-menu {
  display: none;
  background-color: #00334d;
}

.nav-menu.show {
  display: block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li a {
  display: block;
  padding: 0.75rem;
  color: white;
  text-decoration: none;
  border-top: 1px solid #004466;
}

nav li a:hover,
nav li a.active {
  background-color: #005577;
  color: yellow;
}

main {
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  background-color: #0d4d71;
  color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card img {
  width: 300px;
  height: 200px;
  display: block;
  object-fit: cover;
  aspect-ratio: 3 / 2; 
}



.filters {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.filters button {
  background: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.course {
  background-color: #5a2e20;
  color: white;
  padding: 0.75rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.course.light {
  background-color: #e0e0e0;
  color: #333;
}

footer {
  background-color: #00334d;
  color: #fff;
  text-align: center;
  padding: 1rem;
  min-height: 132px; 
  box-sizing: border-box;
  font-size: 1rem;
}

dialog {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;
  position: relative;
  font-size: 0.9rem;
}

dialog {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: .5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#last-modified {
  display: inline-block;
  min-width: 160px; 
  font-family: monospace;
}

#year {
  display: inline-block;
  min-width: 4ch;
  font-family: monospace;
}
