@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    background-color: #000;
    width: 100%;
  }

  nav.open {
    display: flex;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    width: 100%;
  }
}
